package whatever

/* 
    Generated with this command:

    genplate test.go.template test.out FuncName={{ .FuncName }} RetVal={{ .RetVal }}
*/

func {{ .FuncName }}() string {
    return "{{ .RetVal }}"
}
