package whatever

/* 
    Generated with this command:

    genplate example.template example.out example.data
*/

func {{ .FuncName }}() string {
    println("{{ .PrintVal }}")
    println("{{ PascalCase .PrintVal }}")
    println("{{ CamelCase .PrintVal }}")
    println("{{ SnakeCase .PrintVal }}")
}
