package whatever

/* 
    Generated with this command:

    genplate example.template example.out FuncName={{ .FuncName }} RetVal={{ .RetVal }}
*/

func {{ .FuncName }}() string {
    return "{{ .RetVal }}"
}
